@use '../../config/variable' as var;
@use '../../config/mixin' as mixin;
@use '../../config/fontawesomw' as fa;

// 共通
@media all {
    .section {
        &__controller {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__btn {
                text-align: center;
            }
            &__link {
                text-align: center;
                a {
                    text-decoration: underline;
                    font-size: 14px;
                    color: var.$linkBlue;
                }
            }
            &__delete {
                text-align: center;
                button {
                    text-decoration: underline;
                    font-size: 14px;
                    color: var.$linkRed;
                }
            }
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .section {
    }
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
    .section {
    }
}
