@use '../../config/variable' as var;
@use '../../config/mixin' as mixin;
@use '../../config/fontawesomw' as fa;

// 共通
@media all {
    .section {
        &__list-area {
            margin-bottom: 30px;
            @include mixin.wrapper(500px);
            dl {
                border-bottom: 1px solid var.$lightGray;
                &:first-child {
                    border-top: 1px solid var.$lightGray;
                }
                padding: 20px;
            }
            dt {
                font-size: 14px;
                color: var.$freshGreen;
            }
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .section {
        &__list-area {
            dt {
                margin-bottom: 5px;
            }
        }
    }
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
    .section {
        &__list-area {
            dl {
                display: flex;
                align-items: center;
                gap: 0 10px;
            }
            dt {
                width: 30%;
            }
            dd {
                width: 70%;
            }
        }
    }
}
