@use '../../config/variable' as var;
@use '../../config/mixin' as mixin;
@use '../../config/fontawesomw' as fa;

// 共通
@media all {
    .section {
        height: auto;
        min-height: calc(100vh - 138px);
        padding: 30px 0 50px;
        background-color: var.$white;
        &--bg-gray {
            background-color: var.$lightGray;
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .section {
    }
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
    .section {
    }
}
