@use '../config/variable' as var;
@use '../config/mixin' as mixin;
@use '../config/fontawesomw' as fa;

// 共通
@media all {
    .btn {
    }
    .btn-action-copied {
        position: relative;
        &::after {
            position: absolute;
            top: -20px;
            right: -10px;
            content: "クリップボードにコピーしました";
            width: 200px;
            display: block;
            padding: 6px 12px;
            border: 1px solid limegreen;
            border-radius: 4px;
            background-color: #fff;
            color: limegreen;

            animation-name: fadeOut;
            animation-duration: 1.5s;
            animation-delay: .5s;
            animation-fill-mode: forwards;
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .btn {
    }
}

// スマホ 横
// TAB 縦
@media(min-width: 768px) and (max-width: 1024px) {
    .btn {
    }
}
// TAB 横
// PC
@media(min-width: 1025px) {
    .btn {
    }
}
