@use '../config/variable' as var;
@use '../config/mixin' as mixin;
@use '../config/fontawesomw' as fa;

@layer default, custom;

// 共通
@layer default {
    label.fake-checkbox {
        input.fake-checkbox {
            display: none;
        }
        span.fake-checkbox {
            display: inline-block;
            width: 20px;
            text-align: center;
            margin-right: 10px;
            line-height: 1;
            &::after {
                @include fa.noCheck;
                color: var.$lightGreen;
                font-size: 22px;
            }
        }
        input:checked+span.fake-checkbox::after {
            @include fa.checked;
            color: var.$freshGreen;
        }
    }
}

// 優先
@layer custom {
    .news-edit__popup {
        label.fake-checkbox {
            span.fake-checkbox::after {
                color: var.$white;
            }
            input:checked+span.fake-checkbox::after {
                color: var.$freshGreen;
            }
        }
        &__room { // label
            span.fake-checkbox {
                &::after {
                    color: var.$white;
                }
            }
        }
    }
    .popup__content__check {
        label.fake-checkbox {
            span.fake-checkbox::after {
                color: var.$white;
            }
            input:checked+span.fake-checkbox::after {
                color: var.$freshGreen;
            }
        }
        &__room { // label
            span.fake-checkbox {
                &::after {
                    color: var.$white;
                }
            }
        }
    }
}