@use '../config/variable' as var;

// 共通
@media all {
    .footer {
        height: 38px;
        background-color: var.$darkOrange;
        text-align: center;
        * {
            color: var.$white;
        }

        padding: 10px 0;
        &__logout,
        &__policy {
            font-size: 14px;
            padding: 0;
            margin-bottom: 5px;
            a {
                text-decoration: none;
            }
        }
        &__copyright {
            font-size: 12px;
            padding: 0;
            margin: 0;
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
}

// スマホ 横
// TAB 縦
@media(min-width: 768px) and (max-width: 1024px) {
}

// TAB 横
// PC
@media(min-width: 1025px) {
}
