@use '../config/variable' as var;
@use '../config/mixin' as mixin;
@use '../config/fontawesomw' as fa;

// 共通
@media all {
    .item {
        &__box {
            margin-bottom: 10px;
            &__value {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__body {
                width: calc(100% - 85px);
                &__text {
                    display: none;
                    &.show {
                        display: block;
                    }
                    width: 100%;
                    border: 1px solid var.$mediumGray;
                    padding: 2px 3px;
                }
                &__input {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
            }
            &__action,
            &__edit {
                width: 85px;
                justify-content: flex-end;
                gap: 3px;
                align-items: center;
                display: none;
                &.show {
                    display: flex;
                }
                i {
                    width: 24px;
                    height: 24px;
                    font-size: 14px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    &.fa-clipboard {
                        background-color: var.$softOrange;
                    }
                    &.fa-pen {
                        background-color: var.$blue;
                    }
                    &.fa-clone {
                        background-color: var.$manageGreen;
                    }
                    &.fa-check {
                        background-color: var.$freshGreen;
                    }
                    &.fa-xmark {
                        background-color: var.$linkRed;
                    }
                    &.fa-trash-can {
                        background-color: var.$darkGray;
                    }
                }
            }
            &__action {

                i {
                }
            }
            &__edit {
                display: none;
                i {
                }
            }

            &__tags {
                padding-top: 3px;
                display: flex;
                flex-wrap: wrap;
                gap: 3px;
                min-height: 10px;
            }
            &__tag {
                font-size: 12px;
                border-radius: 4px;
                padding: 1px 3px;
                background-color: var.$lightGray;
                &::before {
                    content: "#";
                }
            }
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .item {
    }
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
    .item {
    }
}
