@use '../config/variable' as var;
@use '../config/mixin' as mixin;

// 共通
@media all {
    .modal-lightbox {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__arrow {
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var.$gray;
            font-size: 30px;
            &--prev {
                margin-left: -20px;

            }
            &--next {
                margin-right: -20px;

            }
            a {

            }
        }
        &__img {
            width: calc(100% - 60px);
            text-align: center;
            img {
                max-height: 90vh;
                object-fit: contain;
            }
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .modal-lightbox {
    }
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
    .modal-lightbox {
    }
}
