@use '../config/variable' as var;
@use '../config/mixin' as mixin;

// 共通
@media all {
    .modal {
        display: none;
        &.show {
            display: block;
        }
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        z-index: 1100;

        &__block {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1120;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__filter {
            position: absolute;
            z-index: 1120;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(34, 34, 34, 0.3);
        }
        &__box {
            width: 94%;
            max-width: 500px;
            background-color: var.$white;
            position: relative;
            z-index: 1140;
            padding: 20px;
        }
        &__close {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var.$freshGreen;
            font-size: 35px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                opacity: var.$opacity;
            }
        }
    }
}

// スマホ 縦
@media(max-width: 480px) {
    .modal {
    }
}

// スマホ 横
// TAB 縦
@media(min-width: 481px) and (max-width: 1024px) {
    .modal {
    }
}

// TAB 横
// PC
@media(min-width: 1025px) {
    .modal {
    }
}
