@use '../config/variable' as var;
@use '../config/mixin' as mixin;

// 共通
@media all {
    .modal-files {
        @include mixin.wrapper(500px);
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 10vh;
            max-height: 90vh;
            gap: 10px;
            padding: 0 20px;
            li {
                width: 100%;
                height: 33%;
                a {
                    display: block;
                    width: 100%;
                    height: 30vh;
                    @include mixin.bgContain;
                }
            }
        }
    }
}

// スマホ 縦
@media(max-width: 767px) {
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
}
