@use '../config/variable' as var;
@use '../config/mixin' as mixin;
@use '../config/fontawesomw' as fa;

// 共通
@media all {
    .section {
        height: auto;
        min-height: calc(100vh - 159px - 261px);
        padding: 30px 10px;
        @include mixin.wrapper();
    }
}

// スマホ 縦
@media(max-width: 767px) {
    .section {
    }
}

// スマホ 横
// TAB 縦
// TAB 横
// PC
@media(min-width: 768px) {
    .section {
    }
}
